* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.cabecalho {
    background-color: #009b00;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.introducao {
    background-image: linear-gradient(rgb(52, 133, 69),rgb(64, 160, 85));
    color:rgb(0, 0, 0);
    padding: 50px;
}

.introducaco-titulo{
    padding: 45px 0;
    text-align: center;
    font-size: 45px;
}

.introducacao-texto{
    font-size: 18px;
}

#introducaco-imagem{
height: 300px;
width: 320px;
}

/* Footer */
.rodape {
    background: #0c630c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top: 20px;
}
