* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.cabecalho {
    background-color: #c5c1c1;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

/* Footer */
.rodape {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top: 20px;
}
