* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.cabecalho {
    background-color: #009b00;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 29 px 0;
}

.cabecalho-titulo{
    padding: 25px;
    text-align: center;
}

.introducao {
    background-image: linear-gradient(rgb(49, 126, 65),rgb(81, 196, 106));
    color:rgb(0, 0, 0);
    padding: 50px;
}

.introducaco-titulo{
    padding: 40px 0;
    text-align: center;
    font-size: 45px;
}

.introducacao-texto{
    font-size: 20px;
}

.introducaco-imagem{
width: 325px;
border: solid 10px black;
}

.desenvolvimento{
    background-image: linear-gradient(rgb(31, 122, 51),rgb(51, 190, 81));
    color:rgb(0, 0, 0);
    padding: 40px;
}

.explicacao-imagem{
    width: 325px;
    border: solid 10px black;
}

.explicacao-texto{
    font-size: 19px;
}

.influencia-imagem{
    width: 325px;
    border: solid 10px black;
}

.oportunidades-imagem{
  width: 325px;
  border: solid 10px black;
}

#link{
    font-size: 20px;
    color: rgb(0, 0, 255);
    text-decoration: none;
}

#link:hover{
    font-size: 24px;
    color: rgb(233, 231, 231);
    text-decoration: underline;
}

/* Footer */
.rodape {
    background: #0c630c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top: 20px;
}
