* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
   background-color: #009b00;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 29 px 0; 
}
