* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
   background-color: #0e690e;
    color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 29 px 0; 
}
