* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
   background-color: #0e690e;
    color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 29 px 0; 
}

.principal{
    background-image: linear-gradient(rgb(75, 194, 52),rgb(108, 211, 88));
    color:rgb(0, 0, 0);
    padding: 50px;
}

.links{
    font-size: 24px; ;
    color: black;
    text-decoration: underline;
}

.links:hover{
        font-size: 26px;
        color: rgb(233, 231, 231);
        text-decoration: underline;
}